body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  background-color: rgb(202, 153, 194);
  width: 700px;
  align-items: center;
  height: 30px;
}
.navbar a {
  padding-top: 20px;
  padding-left: 100px;
}

.table{
    border: 2px black solid;
    align-items: center;
}
table td{
    border: 1px black solid;
}
table th{
    border: 1px black solid ;
}
h1{
    margin: 20px 0 20px 0;
}
.tableContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}